.sheet-large-intros {
    font-size: 30px;
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 45px;
    color: #1c1c1c;
}
    
.sheet-text-font {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 500;
}

.sheet-nh-sheet {
    /*visibility: hidden;*/
}

